[user]
  name = Jonny Stoten
  email = jonny@jonnystoten.com
[includeIf "gitdir:~/code/pirate-studios/"]
  path = .gitconfig-work

[core]
  autocrlf = input                          # check in unix line endings
  excludesfile = ~/.gitexcludes
  pager = "diff-so-fancy | less --tabs=4 -RFX"
[help]
  autocorrect = 1
[http]
  postBuffer = 524288000                    # max post size for large files
[interactive]
  singleKey = true

[alias]                                     # some useful aliases :)
  ru = remote update --prune
  su = submodule update --recursive
  graph = log --oneline --graph --decorate
  whereis = branch -a --contains
  rbc = rebase --continue
  st = status --short --branch
  news = log -p @{1}..
  standup = log --since yesterday --author Jonny
  standup-monday = log --since 'last friday' --author Jonny
  git = !git

[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[branch]
  autosetupmerge = true           # set up tracking branches automatically
[push]
  default = upstream              # `git push` pushes to tracked remote of current branch only
  followTags = true
[pull]
  rebase = true                   # rebase instead if merge when pulling

[diff]
  ignoreSubmodules = dirty        # only show submodules as changed if their HEAD moves
  compactionHeuristic = true
[merge]
  ff = false                      # use --no-ff (no fast-forward) by default when merging
  conflictstyle = diff3           # include base content in merge conflicts
  renamelimit = 10000             # number of files to check for file moves/renames
[rerere]
  enabled = true                  # 'reuse recorded resolution' -- saves the results of all merge conflict, so you never have to do them twice
