[user]
  name = Jonny Stoten
  email = jonny@jonnystoten.com
[includeIf "gitdir:~/code/docker/"]
  path = .gitconfig-work

[core]
  autocrlf = input                          # check in unix line endings
  excludesfile = ~/.gitexcludes
  pager = delta
[help]
  autocorrect = 1
[http]
  postBuffer = 524288000                    # max post size for large files
[interactive]
  singleKey = true
[protocol]
  version = 2

[url "git@github.com:"]
 insteadOf = https://github.com/

[alias]                                     # some useful aliases :)
  ru = remote update --prune
  su = submodule update --recursive
  graph = log --oneline --graph --decorate
  whereis = branch -a --contains
  rbc = rebase --continue
  st = status --short --branch
  cp = cherry-pick
  news = log -p @{1}..
  standup = log --since '2pm yesterday' --author Jonny
  standup-monday = log --since '2pm last friday' --author Jonny
  sync = !hub sync
  git = !git

[init]
  defaultBranch = main
[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[branch]
  autosetupmerge = true           # set up tracking branches automatically
[rebase]
  autoSquash = true
[push]
  default = current               # `git push` pushes to branch with the same name on remote
  followTags = true
[pull]
  rebase = true                   # rebase instead if merge when pulling
[remote]
  pushDefault = origin

[diff]
  ignoreSubmodules = dirty        # only show submodules as changed if their HEAD moves
  compactionHeuristic = true
[merge]
  ff = false                      # use --no-ff (no fast-forward) by default when merging
  conflictstyle = diff3           # include base content in merge conflicts
  renamelimit = 10000             # number of files to check for file moves/renames
[rerere]
  enabled = true                  # 'reuse recorded resolution' -- saves the results of all merge conflict, so you never have to do them twice
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[delta]
  line-numbers = true
#  side-by-side = true
  pager = less -RX
  paging = always
